.title {
    /* Заявки на размещение вакансий */

    position: absolute;
    width: 584px;
    height: 43px;
    left: 150px;
    top: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */

    color: #4C73E3;


}

.main_container {
    /* cards */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1300px;
    height: 478px;
    left: 150px;
    top: 218px;


}

.container {
    /* card */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 28px;
    gap: 28px;

    width: 1300px;
    height: 400px;

    background: #ff0000;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /*нет относительной позиции*/

}

.bid_container {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: red;
}

.appointment {
    /* position: relative;
    left: 0%;
    top: 0%;
    width: 30%; */
}

.naming_vacation {
    /* position: relative;
    left: 30%;
    top: 0%;
    width: 30%; */
}

.date_closed {
    /* position: relative;
    left: 60%;
    top: 0%;
    width: 30%; */

}

.change_bid {
    position:relative;
    top: 0%;
    left: 90%;
    width: 10%;
    text-align: center;
}